index tag 
<div class="container">
    <%= form_tag(tags_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<%= @tag.name %>
<%=params[:search]  %>
<%= Tag.find_by_name(params[:search]).url %>
</div>